*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.carousel-item img{
        width: 100%;
        height: 80vh;
}
.kozep {
   width: 150px; 
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.szkozep {
    padding-top: 20px;
    margin-left: 100px;
    margin-right: 100px;
    letter-spacing: -1px;
    
}

.kozepvidi {
    width: 500px; 
    height: 500px;
    margin-left: 100px;
    margin-right: 100px;
}

